body {
  margin: 0 auto;
  padding: 1em;
  max-width: 42em;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  color: #333;
}
h1,
h2 {
  font-family: Georgia, serif;
  margin-top: 2em;
}
a {
  color: #000066;
}
a:visited {
  color: #660066;
}
